@import 'tailwind.css';

@import '../lib/styles/form.css';
@import '../lib/styles/dropdowns.css';
@import '../lib/styles/dialogs.css';
@import '../lib/styles/datepicker.css';
@import '../lib/styles/toast.css';
@import '../lib/styles/loaders.css';

@import '@ingruz/tabulisk/lib/minimal.css';

.btn {
    @apply py-1 px-5 text-center border border-slate-500 rounded;
    &.btn-primary {
        background-color: var(--color-primary-theme);
        color: #fff;
    }
    &.btn-link {
        @apply border-0 text-blue-400 text-left underline;
    }
}

.--tabulisk-paginator-pageSizeSelector {
    height: 3rem;
    width: 8rem;
}