@import 'tailwind.css';

@import '../lib/styles/form.css';
@import '../lib/styles/dropdowns.css';
@import '../lib/styles/dialogs.css';
@import '../lib/styles/datepicker.css';
@import '../lib/styles/toast.css';

.btn {
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 5px;
    &.btn-primary {
        background-color: var(--color-primary-theme);
    }
}